<div class="modal" tabindex="-1" role="dialog" id="test-pattern">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>There are no saved battles to test patterns. Please, save some battles to bookmarks to enable this feature.</p>
      </div>
    </div>
  </div>
</div>

