.container#app
  .row
    .col
      h1 #{@snek.name} rules
    .col.text-right
      = link_to 'Back', @snek, class: 'btn btn-outline-secondary'

  .row
    .col.mb-3
      = render 'tools'



  .row#patterns-container
    rule-pattern v-for="(pattern, index) in rules" v-bind:pattern="pattern" v-bind:key="index"


javascript:

  // TODO: нужно реализовать так, чтобы при клике на ячейку:
  // 1. Свойство 'cell' меняется на то, что хранится в главном объекте приложения в свойстве currentTool
  // 2. Сразу после этого должен сработать метод cellClass(cell) в CSS классе (это вроде сработает)
  // 3. Выбранный currentTool помещается в головном объекте в свойстве 'rules' в нужный паттерн-строку-ячейку
  Vue.component("rule-cell", {
      template: '<td v-bind:class="cellClass(cell)" v-bind:click="setTool()"></td>',
      props: ['cell'],
      // Не уверен, что в data все так, как надо.
      data: function() {
          return {
              value: cell,
              logic: null
          }
      },
      methods: {
          cellClass: function(className) {
              return 'r-pattern-cell__' + className;
          },
          setTool: function() {

          }
      }
  });

  Vue.component("rule-row", {
      template: '<tr><rule-cell v-for="(cell, index) in row" v-bind:cell="cell" v-bind:key="index"></rule-cell></tr>',
      props: ['row']
  });

  Vue.component("rule-pattern", {
      template: '<div class="col-md-4"><div class="r-rules-pattern-container mb-3"><table class="r-pattern-table"><rule-row v-for="(row, index) in pattern" v-bind:row="row" v-bind:key="index"></rule-row></table></div></div>',
      props: ['pattern']
  });


  // On window resize
  $(document).ready(resizePatterns);
  $(window).resize(resizePatterns);

  // Resize patterns cells
  function resizePatterns() {
    $('.r-pattern-table').height($('.r-pattern-table').width());
    $('.r-pattern-table td').height($('.r-pattern-table td').width());
  }

  // Init app
  var app = new Vue({
      el: '#app',
      data: {
          currentTool: 'default',
          rules: window.gon.snek_rules
      },
      methods: {
          selectTool: function(event) {
              this.currentTool = event.target.dataset.tool;
          },

          // setCell: function(pattern_id, row_id, cell_id) {
          //     this.rules[pattern_id][row_id][cell_id] = this.currentTool;
          // },

      },
      computed: { },
      watch: { }
  });


